
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<script>
$(document).ready(function(){
$('#adminusers').show();
$('#adminquestions').hide();
$('#adminquizes').hide();

$('#submitbtn').click(function(){
    //Some code
  var formData = JSON.stringify($('#jsonfield').val());
  $.ajax({
  type: "POST",
  url: "/api/questions/import",
  data: $('#jsonfield').val(),
  success: function(){alert("Import Complete")},
  dataType: "json",
  contentType : "application/json"
});
});
});
</script>
<div class = "homelogo">
<img src="../images/quizlogo.png" alt="Caley Quizzes">
</div>

<div class = "profilelink">
<ul>
<li><a href="/homequiz">Back</a></li>
</ul>
</div>

<div class = "homenav">

<ul>
  <li><a href="/homequiz">Quizzes</a></li>
  <li><a href="/homeboards">Leaderboard</a></li>
  <li><a href="admin" class="active">Admin</a></li>
</ul>

</div>

<div class = "admincommandsuser">
  <div class="btn-group topgroup" role="group">
    <button type="button" class="btn btn-secondary btn-nav" onclick="$('#adminusers').show();$('#adminquestions').hide();$('#adminquizes').hide();">Users</button>
    <button type="button" class="btn btn-secondary btn-nav" onclick="$('#adminusers').hide();$('#adminquestions').show();$('#adminquizes').hide();">Questions</button>
    <button type="button" class="btn btn-secondary btn-nav" onclick="$('#adminusers').hide();$('#adminquestions').hide();$('#adminquizes').show();">Quizes</button>
  </div>
<div id="adminusers">
  <h3>Users</h3>
  <table class="table ">
    <tr><th>Firstname</th><th>Lastname</th><th>Email</th><th>Username</th></tr>
    <% users.forEach(function(user) { %>
          <tr><td><%= user.Firstname %></td><td><%= user.Lastname %></td><td><%= user.Email %></td><td><%= user.Username %></td><td><a href="/api/users/delete/<%= user.UserID %>">Delete</a></td></tr>
    <% }); %>
  </table>
</div>

<div id="adminquestions">
  <h3>Questions</h3>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">JSON for Mass Entry</label>
    <textarea type="multiline" class="form-control" id="jsonfield" aria-describedby="emailHelp" placeholder="Enter Json"> </textarea>
    <small id="emailHelp" class="form-text text-muted">Please inputed json.</small>
  </div>
  <div name="submit" class="btn btn-primary" id="submitbtn">Submit</div>
</form>
</div>
<div id="adminquizes">
  <h3>Quizes</h3>
</div>

</body>
</html>
